/*
Stylesheet for react app.
With tailwind, most styling is handles using tailwind classes directly in jsx/tsx
*/

#root {
  /* Setting the max width and centering the content */
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    /* Styling for the logo */
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    /* Hover effect for the logo */
    filter: drop-shadow(0 0 2em #646cffaa); /* Apply a shadow when hovered */
  }
  .logo.react:hover {
    /* Specific hover effect when the logo has the "react" class */
    filter: drop-shadow(0 0 2em #61dafbaa); /* React-specific shadow effect */
  }
  
  @keyframes logo-spin {
    /* CSS animation to rotate the logo */
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    /* Apply animation only if user prefers no-reduced-motion */
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear; /* Infinite spin animation */
    }
  }
  
  .card {
     /* Padding for cards */
    padding: 2em;
  }
  
  .read-the-docs {
    /* Styling for the "Read the docs" text */
    color: #888;
  }